<app-navbar></app-navbar>
<div class="titulo">
    <div class="container">
        <h1 class="ventas"><img src="../../../assets/img/booking.png" width="50" class="img-fluid" alt="Responsive image"> Compras Central</h1>
    </div>
</div>
<div class="container">
    <button class="btn btn-dark btn-lg mt-4" data-toggle="modal" data-target="#modalLista"><i class="fa fa-cart-plus"></i> Ver Listado de Compras</button>
    <h3 class="mt-4">Ingrese los datos de la nueva compra:</h3>
    <hr>
    <form [formGroup]="comprasForm" (ngSubmit)="addNewBuy(comprasForm.value)">
        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Factura: (Opcional, si la compra es con factura)</label>
                        <input type="text" class="form-control" (click)="numFactura($event.target.value)" placeholder="Número de Factura">
                    </div>
                    <div class="form-group">
                        <label>Proveedor:</label>
                        <input type="text" formControlName="proveedor" [class.is-invalid]="proveedorNoValido" class="form-control" placeholder="Nombre proveedor/vendedor">
                        <small *ngIf="proveedorNoValido" class="text-danger">Debe ingresar el producto</small>
                    </div>
                    <div class="form-group">
                        <label>Teléfono:</label>
                        <input type="text" formControlName="telefono" [class.is-invalid]="telefonoNoValido" class="form-control" placeholder="Ingrese el teléfono del proveedor">
                        <small *ngIf="telefonoNoValido" class="text-danger">Debe ingresar el número de teléfono</small>
                    </div>
                    <div class="form-group">
                        <label>Valor Total de la Compra:</label>
                        <input type="text" formControlName="total" [class.is-invalid]="totalNoValido" class="form-control" placeholder="Ingrese el valor total de la compra">
                        <small *ngIf="totalNoValido" class="text-danger">Debe ingresar el valor de la compra</small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Ingrese el producto</label>
                        <input type="text" [value]="product" (change)="producto($event.target.value)" class="form-control" placeholder="Nombre del producto" id="prd">
                    </div>
                    <div class="form-group">
                        <label>Concepto del producto</label>
                        <textarea type="text" [value]="conceptProd" (change)="concepto($event.target.value)" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label>Cantidad</label>
                            <input type="number" [value]="cantProd" min="1" (change)="cantidad($event.target.value)" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label>Precio Unidad</label>
                            <input type="number" [value]="precioProd" (change)="precioUnidad($event.target.value)" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-right mt-3">
            <Button type="button" class="btn btn-primary btn-lg" (click)="agregarProductoCompra()">Agregar Producto</Button>
            <Button type="submit" class="btn btn-success btn-block btn-lg mt-3">Finalizar Compra</Button>
        </div>
    </form>
    <div class="col-12 mt-4">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Concepto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of compras; let i = index">
                    <td>{{item.producto | titlecase}}</td>
                    <td>{{item.concepto}}</td>
                    <td>{{item.cantidad}}</td>
                    <td>${{item.precio | number}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="delete(i)"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal listado compras-->
<div class="modal fade" id="modalLista" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Listado de Compras:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="col-12 mt-4">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Empleado</th>
                                <th scope="col">Factura</th>
                                <th scope="col">Proveedor</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Valor</th>
                                <th scope="col">Detalle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of comprasList">
                                <td>{{item.fecha | date}}</td>
                                <td>{{item.empleado | titlecase}}</td>
                                <td>{{item.factura}}</td>
                                <td><b>{{item.proveedor | titlecase}}</b></td>
                                <td>{{item.telefono}}</td>
                                <td>${{item.total | number}}</td>
                                <td>
                                    <button class="btn btn-primary" (click)="detalle(item)" data-toggle="modal" data-target="#lista" data-dismiss="modal"><i class="fa fa-list"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal detalle lista productos de compra-->
<div class="modal fade" id="lista" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lista de Productos de la Compra:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Concepto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of detalleProds">
                            <td>{{item.producto | titlecase}}</td>
                            <td>{{item.concepto}}</td>
                            <td>{{item.cantidad}}</td>
                            <td>${{item.precio | number}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>