.registro {
    background-color: #ffa000;
    color: #fff;
}

.ver {
    margin-top: 8rem;
}

.cedula {
    border: solid;
    border-radius: 5px;
    width: 400px;
    height: 80px;
    text-align: center;
    font-size: 22px;
}