.info {
    background-color: #f8f5ef;
    border: solid;
    border-color: rgb(49, 48, 48);
    border-width: 1px;
    border-top-color: #06850c;
    border-top-width: 3px;
    .card {
        border: none;
        background-color: #f8f5ef;
    }
}

.cat {
    background-color: #f2ede4;
    border: solid;
    border-color: rgb(49, 48, 48);
    border-width: 1px;
    border-top-color: #77a0f0;
    border-top-width: 3px;
}