.nav-link {
    cursor: pointer;
}

.usr {
    color: #fff;
    transition: 800ms;
}

.badge {
    position: absolute;
    margin-top: -10px;
    padding: 4px 4px;
    box-shadow: 0px 0px 7px;
    animation: infinite resplandorAnimation 2s;
    border-radius: 50%;
}

@keyframes resplandorAnimation {
    0%,
    100% {
        box-shadow: 0px 0px 20px;
    }
    50% {
        box-shadow: 0px 0px 0px;
    }
}