.sch {
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.srch {
    button {
        font-size: 20px;
        margin-bottom: 5px;
        i {
            margin-top: 5px;
            float: left;
        }
    }
}

.cmbx {
    label {
        background-color: #ffa000;
        color: #fff;
        font-weight: bold;
    }
}