.ppal {
    max-width: 21rem;
    font-size: 30px;
    border-color: #ffa000;
}

.slect {
    width: 100%;
    font-size: 20px;
    border-color: #ffa000;
}

.env {
    background-color: #ffa000;
    color: #fff;
}

.env:hover {
    background-color: #e09513;
    color: #fff;
}